.checkout--panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 350px;
  width: 300px;

  margin: 64px auto;
  padding: 16px;

  border: 2px solid grey;
  border-radius: 5px;

  background: rgba(236, 236, 236, 0.815);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.checkout--infos {
  div:first-child {
    margin-bottom: 32px;
  }

  div:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }
}

.checkout--form {
}

.purchase--completed {
  width: fit-content;

  margin: 64px auto;
}
